# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log

# IPython Notebook
.ipynb_checkpoints

### JetBrains template
.idea/

## File-based project format:
*.iws

# IntelliJ
/out/

config/config.yml
config/config.local.yml

django_ocr_service/media/input_files/*.pdf

*.ignore
